.testimonial-container{
    width: 40%;
    padding-bottom: 4rem;
    box-shadow: 1px 3px 3px 3px var(--color-primary);
    border-radius: 50px;

}
.image-item{
    align-items: center;
    width: 6rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border:  0.2rem solid var(--color-primary-varient);
   
}

.testimonial{
    background: var(--color-bg-varient);
 
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
    grid-template-columns: 1fr 1fr  ;
}
.client-review{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;

}

/*media query for medium device */

@media screen and(max-width:1024px) {
    .container.testimonial-container{
        width: 60%;

    }
}

/* media query for mobile device */

@media screen and(max-width:600px){
    .container.testimonial-container{
        width: var(--container-width-sm);
    }
    .client-review{
        width: var(--container-width-sm);
    }
}